.card {
    width: 192px;
    height: 310px;
    background: #f5f5f5;
    padding: 15px;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s;
    position: relative;
  }
  .wrapper {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  .card-image {
    width: 100%;
    height: 190px;
    transition: all 0.3s;
  }
  .content {
    
    height: fit-content;
    display: flex;
    flex-direction: row-reverse;
    gap:8px;
    align-items: flex-start;
    justify-content: center
  }
  .title {
    font-size: 0.72em;
    text-transform: uppercase;
    font-weight: 500;
    text-align: right;
    color: #4d4d4d;
  }
  .price {
    font-size: 1em;
    font-weight: 700;
  }
  .old-price {
    font-size: 0.7em;
    text-decoration: line-through;
    color: #adadad;
  }
  .card-btn {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(24, 24, 24);
    border: none;
    border-radius: 40px;
    color: white;
    transition: all 0.3s;
    cursor: pointer;
    font-weight: 500;
  }
  .card:hover .card-image {
    height: 120px;
  }
  .card:hover .card-btn {
    margin-top: 0;
  }
  .card-btn:hover {
    background-color: greenyellow;
    color: rgb(35, 35, 35);
  }
  .card:hover {
    background-color: white;
  }
  
  .tag {
  
    background-color: greenyellow;
    color: rgb(0, 0, 0);
    padding: 6px 12px;
    border-radius: 5px;
    font-size: 0.75em;
    font-weight: 500;
  }
  